# primary things
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
plugins:
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jemoji
  - jekyll-relative-links
include:
  - "_pages"

markdown: kramdown
kramdown:
    highlighter: rouge
    syntax_highlighter_opts:
        block:
            line_numbers: true

# minimal-mistakes
## theme
minimal_mistakes_skin: "dark"

## site settings
title: "TBA"
title_separator: "|"
subtitle: "Fumbling my way through IT and Cybersecurity. Hopefully learning a thing or two along the way"


url: https://codyhardin.github.io
baseurl: "/"
repository: codyhardin/codyhardin.github.io

date_format: "%Y-%m-%d"
search: true

## author
name: "Cody"
  bio: "Ex-Strength Coach, wannabe Hacker, lifelong learner, newbie blogger," # Note: Markdown is allowed#location: ""
  links:
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://www.linkedin.com/in/codyh12/"


## footer
#footer:


## frontmatter
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      sidebar:
        nav: "docs"
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false
      show_date: true
      sidebar:
        nav: "docs"